@import "tailwindcss";

/* Wolfe Word Book Theme Colors */
@theme {
  --color-primary: #0080BB;
  --color-secondary: #87D9FF;
  --color-secondary-2: #CEEAF9;
  --color-tertiary: #F3FBFF;
  --color-grey: #D9D9D9;
  --color-grey-darker: #9B9B9B;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-orange: #FF5900;
  --color-orange-yellow: #FFC800;
  --color-green: #22d850;
  --shadow-input: inset 1px 3px 4px 0 rgba(0, 0, 0, 0.25);
  --shadow-play-button: 0px 1px 2px rgba(0, 0, 0, 0.25);
  --shadow-timer: 0 0px 4px 3px rgba(0, 0, 0, 0.05);
  --content-width: 89%;
  --content-width-2: 86%;
}

/* Hide scrollbars for all browsers */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}